.button {
    background-color: darkgray;
    padding: 5px;
    border-radius: 10px;
    font-family: "Courier New";
    font-weight: bold;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

.button:active {
    background-color: dimgrey;
}