.game-holder {
    display: flex;
    height: 800px;
    width: 1400px;
    margin: 5px;
}

.game-holder__inventory-holder {
    height: 69%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-holder__skills-holder {
    height: 69%;
    width: 95%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-holder__inventory-item {
    width: 15%;
    height: 25%;
    margin: 5px;
    border: 3px solid black;
    background-color: white;
}

.game-holder__inventory-item:hover {
    color: gray;
    border-color: gray;
    text-decoration: underline;
}



.game-holder__inventory-item-cross {
    background-color: darkgray;
    position: absolute;
    width: 12px;
    height: 15px;
    margin: 2px;
}

.game-holder__inventory-item-cross:hover {
    cursor: pointer;
}

.game-holder__inventory-item-name {
    text-align: center;
    font-weight: bold;
    font-family: Candara;
}

.game-holder__inventory-item-picture {
    width: 100%;
    height: 70%;
    text-align: center;
}

.game-holder__inventory-item-name:hover {
    cursor: pointer;
}

.game-holder__left-side-holder {
    display: inline-block;

    height: 99%;
    width: 46%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-holder__right-side-holder {
    display: inline-block;
    height: 99%;
    width: 51%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-holder__description-holder {
    height: 69%;
    width: 95%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow-y:auto;
}

.game-holder__description {
    padding: 10px;
    font-family: Candara;
}

.game-holder__options-holder {
    height: 26%;
    width: 95%;
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-holder__illustration-holder {
    height: 69%;
    width: 95%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}


.game-holder__status-holder {
    height: 26%;
    width: 95%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.game-holder__description-title {
    width: 300px;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: Candara;
}

.game-holder__option {
    background-color: darkgray;
    display: block;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
}

.game-holder__image {
    height: 100%;
    width: 100%;
}

.game-holder__status-button {
    display: inline-block;
    clear: none;
    margin: 5px;
}

.game-holder__indicator {
    display: block;
    clear: both;
    margin-left: 5px;
    margin-top: 10px;
}