html {
    font-family: "Courier New";
}

body {
    background-color: lightgray;
}

.inventory-holder {
    height: 58%;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.skills-holder {
    height: 58%;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.skills-holder {
    height: 58%;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.inventory-item {
    display: inline-block;
    width: 15%;
    margin: 10px;
    border: 3px solid black;
}

.inventory-item:hover {
    cursor: pointer;
    color: gray;
    border-color: gray;
}

.inventory-item-name {
    text-align: center;
}

.inventory-item-picture {
    width: 100%;
    max-height: 90px;
    text-align: center;
}

.backToMenu {
    background-color: darkgray;
    float: left;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
}

.backToMenu:hover {
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

.menu {
    height: 600px;
    width: 800px;
    border: 1px solid black;
    background-color: lightgray;
}

.menu-buttons {
    margin-top: 20%;
    margin-left: 40%;
}

.menu-button {
    background-color: darkgray;
    display: inline-block;
    float: left;
    clear: both;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}

.menu-button:hover {
    cursor: pointer;
    color: gray;
}

.game-holder {
    height: 800px;
    width: 1220px;
    margin: 5px;
}

.left-side-holder {
    position: absolute;
    display: inline-block;

    height: 99%;
    width: 46%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.right-side-holder {
    left: 47%;
    position: absolute;
    display: inline-block;

    height: 99%;
    width: 51%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.description-holder {
    height: 58%;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.description {
    padding: 10px;
}

.options-holder {
    height: 37%;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.illustration-holder {
    height: 69%;
    width: 95%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}


.status-holder {
    height: 26%;
    width: 95%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid black;
}

.options {

}

.option {
    background-color: darkgray;
    display: inline-block;
    float: left;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
}

.option:hover {
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

.image {
    height: 100%;
    width: 100%;
}

.status-button {
    display: inline-block;
    clear: none;
    margin: 5px;
}

.indicator {
    display: block;
    clear: both;
    margin-left: 5px;
    margin-top: 10px;
}

.hide {
    display: none;
}